    <!-- Header Courses -->
    <section class="page-header page-header-modern page-header-background page-header-background-md overlay overlay-color-dark overlay-show overlay-op-7" style="background-image: url(img/image-ienpop/cursosheader.jpg);">
		<div class="container">
			<div class="row mt-5">
				<div class="col-md-12 align-self-center p-static order-2 text-center">
					<h1 class="text-9 font-weight-bold">Nuestros Cursos</h1>
				</div>
			</div>
	    </div>
	</section>

    <section>
        <div class="container-fluid">
            <div class="row align-items-center bg-color-grey">
                <div class="col-lg-6 p-0">
                    <section class="parallax section section-parallax custom-parallax-bg-pos-left custom-sec-left h-100 m-0" data-plugin-parallax data-plugin-options="{'speed': 1.5, 'horizontalPosition': '100%'}" data-image-src="img/image-ienpop/c1.jpg" style="min-height: 315px;">
                    </section>
                </div>
                <div class="col-lg-6 p-0">
                    <section class="section section-no-border h-100 m-0">
                        <div class="row m-0">
                            <div class="col-half-section col-half-section-left">
                                <div class="overflow-hidden">
                                    <h2 class="mb-0 appear-animation" data-appear-animation="maskUp"><a href="#" class="text-4 font-weight-bold pt-2 d-block text-dark text-decoration-none pb-1">Sector A: Libreta Internacional</a></h2>
                                </div>
                                <p class="font-text text-justify text-2 mb-0 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="400" style=”text-align: justify;”>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque rutrum pellentesque imperdiet. Nulla lacinia iaculis nulla non metus pulvinar.</p>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <div class="row align-items-center bg-color-grey">
                <div class="col-lg-6 order-2 order-lg-1 p-0">
                    <section class="section section-no-border h-100 m-0">
                        <div class="row justify-content-end m-0">
                            <div class="col-half-section col-half-section-right custom-text-align-right">
                                <div class="overflow-hidden">
                                    <h2 class="mb-0 appear-animation" data-appear-animation="maskUp"><a href="#" class="text-4 font-weight-bold pt-2 d-block text-dark text-decoration-none pb-1">Sector B: Pescadores</a></h2>
                                </div>
                                <p class="font-text text-justify text-2 mb-0 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="400">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque rutrum pellentesque imperdiet. Nulla lacinia iaculis nulla non metus pulvinar.</p>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="col-lg-6 order-1 order-lg-2 p-0">
                    <section class="parallax section section-parallax h-100 m-0" data-plugin-parallax data-plugin-options="{'speed': 1.5, 'horizontalPosition': '100%'}" data-image-src="img/image-ienpop/c2.jpg" style="min-height: 315px;">
                    </section>
                </div>
            </div>
            <div class="row align-items-center bg-color-grey">
                <div class="col-lg-6 p-0">
                    <section class="parallax section section-parallax custom-parallax-bg-pos-left custom-sec-left h-100 m-0" data-plugin-parallax data-plugin-options="{'speed': 1.5, 'horizontalPosition': '100%'}" data-image-src="img/image-ienpop/c3.jpg" style="min-height: 315px;">
                    </section>
                </div>
                <div class="col-lg-6 p-0">
                    <section class="section section-no-border h-100 m-0">
                        <div class="row m-0">
                            <div class="col-half-section col-half-section-left">
                                <div class="overflow-hidden">
                                    <h2 class="mb-0 appear-animation" data-appear-animation="maskUp"><a href="#" class="text-4 font-weight-bold pt-2 d-block text-dark text-decoration-none pb-1">Sector C: Turístico</a></h2>
                                </div>
                                <p class="font-text text-justify text-2 mb-0 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="400">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque rutrum pellentesque imperdiet. Nulla lacinia iaculis nulla non metus pulvinar.</p>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <div class="row align-items-center bg-color-grey">
                <div class="col-lg-6 order-2 order-lg-1 p-0">
                    <section class="section section-no-border h-100 m-0">
                        <div class="row justify-content-end m-0">
                            <div class="col-half-section col-half-section-right custom-text-align-right">
                                <div class="overflow-hidden">
                                    <h2 class="mb-0 appear-animation" data-appear-animation="maskUp"><a href="#" class="text-4 font-weight-bold pt-2 d-block text-dark text-decoration-none pb-1">Sector D: Plataformas y Barcasas</a></h2>
                                </div>
                                <p class="font-text text-justify text-2 mb-0 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="400">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque rutrum pellentesque imperdiet. Nulla lacinia iaculis nulla non metus pulvinar.</p>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="col-lg-6 order-1 order-lg-2 p-0">
                    <section class="parallax section section-parallax h-100 m-0" data-plugin-parallax data-plugin-options="{'speed': 1.5, 'horizontalPosition': '100%'}" data-image-src="img/image-ienpop/c4.jpg" style="min-height: 315px;">
                    </section>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row justify-content-center pt-4 mt-5 mb-5">
                <div class="col-lg-8 text-center">
                    <div class="overflow-hidden mb-3">
                        <h2 class="font-weight-bold mb-0 appear-animation" data-appear-animation="maskUp">Acerca de Nuestros Cursos</h2>
                    </div>
                    <div class="overflow-hidden mb-3">
                        <p class="font-text lead mb-0 appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="200">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce elementum, nulla vel pellentesque consequat, ante nulla hendrerit arcu, ac tincidunt mauris lacus sed leo. vamus suscipit molestie vestibulum.</p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center pb-5">
                <div class="col-md-7 col-lg-4 mb-5 mb-lg-0">
                    <div class="circular-bar mb-lg-5 appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="600">
                        <div class="circular-bar-chart" data-percent="25" data-plugin-options="{'barColor': '#0088cc'}">
                            <strong class="font-text mt-2 text-color-primary">25%</strong>
                        </div>
                    </div>
                    <div class="col text-center appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="900">
                        <h2 class="font-weight-bold">Meeting</h2>
                        <p class="px-3 font-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus blandit massa enim. Nullam id varius.</p>
                    </div>
                </div>
                <div class="col-md-7 col-lg-4 mb-5 mb-lg-0">
                    <div class="circular-bar mb-lg-5 appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="400">
                        <div class="circular-bar-chart" data-percent="50" data-plugin-options="{'barColor': '#0088cc'}">
                            <strong class="font-text mt-2 text-color-primary">50%</strong>
                        </div>
                    </div>
                    <div class="col text-center appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="900">
                        <h2 class="font-weight-bold">Execute</h2>
                        <p class="font-text px-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus blandit massa enim. Nullam id varius.</p>
                    </div>
                </div>
                <div class="col-md-7 col-lg-4">
                    <div class="circular-bar mb-lg-5 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="600">
                        <div class="circular-bar-chart" data-percent="100" data-plugin-options="{'barColor': '#0088cc'}">
                            <strong class="font-text mt-2 text-color-primary">100%</strong>
                        </div>
                    </div>
                    <div class="col text-center appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="900">
                        <h2 class="font-weight-bold">Delivery</h2>
                        <p class="font-text px-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus blandit massa enim. Nullam id varius.</p>
                    </div>
                </div>
             </div>
        </div>
    </section>

    <section class="section section-height-3 bg-color-grey-scale-1 m-0 border-0">
        <div class="container py-2">

        <ul class="nav nav-pills sort-source sort-source-style-3 justify-content-center" data-sort-id="portfolio" data-option-key="filter" data-plugin-options="{'layoutMode': 'masonry', 'filter': '*'}">
            <li class="nav-item active" data-option-value="*"><a class="nav-link text-1 font-text text-uppercase active" href="#">Todo</a></li>
            <li class="nav-item" data-option-value=".websites"><a class="nav-link text-1 font-text text-uppercase" href="#">Libreta internacional</a></li>
            <li class="nav-item" data-option-value=".logos"><a class="nav-link text-1 font-text text-uppercase" href="#">Pescadores</a></li>
            <li class="nav-item" data-option-value=".brands"><a class="nav-link text-1 font-text text-uppercase" href="#">Turìstico</a></li>
            <li class="nav-item" data-option-value=".medias"><a class="nav-link text-1 font-text text-uppercase" href="#">Plataformas y Barcasas</a></li>
        </ul>

        <div class="sort-destination-loader sort-destination-loader-showing mt-4 pt-2">
            <div class="row portfolio-list sort-destination" data-sort-id="portfolio">
                
                <div class="col-md-6 col-lg-1-5 isotope-item brands">
                    <div class="portfolio-item">
                        <span class="thumb-info thumb-info-centered-info thumb-info-no-borders border-radius-0">
                            <span class="thumb-info-wrapper border-radius-0">
                                <img src="img/image-ienpop/g8.jpg" class="img-fluid border-radius-0" alt="">
                                <span class="thumb-info-title">
                                    <span class="thumb-info-inner text-2">Compañerismo</span>
                                </span>
                            </span>
                        </span>
                    </div>
                </div>

                <div class="col-md-6 col-lg-1-5 isotope-item medias">
                    <div class="portfolio-item">
                        <span class="thumb-info thumb-info-centered-info thumb-info-no-borders border-radius-0">
                            <span class="thumb-info-wrapper border-radius-0">
                                <span class="owl-carousel owl-theme dots-inside m-0" data-plugin-options="{'items': 1, 'margin': 20, 'animateOut': 'fadeOut', 'autoplay': true, 'autoplayTimeout': 3000}"><span><img src="img/image-ienpop/g10.jpg" class="img-fluid border-radius-0" alt=""></span><span><img src="img/image-ienpop/g11.jpg" class="img-fluid border-radius-0" alt=""></span></span>
                                <span class="thumb-info-title">
                                    <span class="thumb-info-inner text-2">Confianza</span>
                                </span>
                            </span>
                        </span>
                    </div>
                </div>

                <div class="col-md-6 col-lg-1-5 isotope-item logos">
                    <div class="portfolio-item">
                        <span class="thumb-info thumb-info-centered-info thumb-info-no-borders border-radius-0">
                            <span class="thumb-info-wrapper border-radius-0">
                                <img src="img/image-ienpop/g4.jpg" class="img-fluid border-radius-0" alt="">
                                <span class="thumb-info-title">
                                    <span class="thumb-info-inner text-2">Respeto</span>
                                </span>
                            </span>
                        </span>
                    </div>
                </div>

                <div class="col-md-6 col-lg-1-5 isotope-item websites">
                    <div class="portfolio-item">
                        <span class="thumb-info thumb-info-centered-info thumb-info-no-borders border-radius-0">
                            <span class="thumb-info-wrapper border-radius-0">
                                <img src="img/image-ienpop/g1.jpg" class="img-fluid border-radius-0" alt="">
                                <span class="thumb-info-title">
                                    <span class="thumb-info-inner text-2">Honor</span>
                                </span>
                            </span>
                        </span>
                    </div>
                </div>

                <div class="col-md-6 col-lg-1-5 isotope-item logos">
                    <div class="portfolio-item">
                        <span class="thumb-info thumb-info-centered-info thumb-info-no-borders border-radius-0">
                            <span class="thumb-info-wrapper border-radius-0">
                                <img src="img/image-ienpop/g5.jpg" class="img-fluid border-radius-0" alt="">
                                <span class="thumb-info-title">
                                    <span class="thumb-info-inner text-2">Responsabilidad</span>
                                </span>
                            </span>
                        </span>
                    </div>
                </div>

                <div class="col-md-6 col-lg-1-5 isotope-item brands">
                    <div class="portfolio-item">
                        <span class="thumb-info thumb-info-centered-info thumb-info-no-borders border-radius-0">
                            <span class="thumb-info-wrapper border-radius-0">
                                <img src="img/image-ienpop/g7.jpg" class="img-fluid border-radius-0" alt="">
                                <span class="thumb-info-title">
                                    <span class="thumb-info-inner text-2">Disciplina</span>
                                </span>
                            </span>
                        </span>
                    </div>
                </div>

                <div class="col-md-6 col-lg-1-5 isotope-item websites">
                    <div class="portfolio-item">
                        <span class="thumb-info thumb-info-centered-info thumb-info-no-borders border-radius-0">
                            <span class="thumb-info-wrapper border-radius-0">
                                <img src="img/image-ienpop/g2.jpg" class="img-fluid border-radius-0" alt="">
                                <span class="thumb-info-title">
                                    <span class="thumb-info-inner text-2">Lealtad</span>
                                </span>
                            </span>
                        </span>
                    </div>
                </div>

                <div class="col-md-6 col-lg-1-5 isotope-item medias">
                    <div class="portfolio-item">
                        <span class="thumb-info thumb-info-centered-info thumb-info-no-borders border-radius-0">
                            <span class="thumb-info-wrapper border-radius-0">
                                <img src="img/image-ienpop/g9.jpg" class="img-fluid border-radius-0" alt="">
                                <span class="thumb-info-title">
                                    <span class="thumb-info-inner text-2">Valor</span>
                                </span>
                            </span>
                        </span>
                    </div>
                </div>

                <div class="col-md-6 col-lg-1-5 isotope-item logos">
                    <div class="portfolio-item">
                        <span class="thumb-info thumb-info-centered-info thumb-info-no-borders border-radius-0">
                            <span class="thumb-info-wrapper border-radius-0">
                                <img src="img/image-ienpop/g6.jpg" class="img-fluid border-radius-0" alt="">
                                <span class="thumb-info-title">
                                    <span class="thumb-info-inner text-2">Líderes</span>
                                </span>
                            </span>
                        </span>
                    </div>
                </div>

                <div class="col-md-6 col-lg-1-5 isotope-item websites">
                    <div class="portfolio-item">
                        <span class="thumb-info thumb-info-centered-info thumb-info-no-borders border-radius-0">
                            <span class="thumb-info-wrapper border-radius-0">
                                <img src="img/image-ienpop/g3.jpg" class="img-fluid border-radius-0" alt="">
                                <span class="thumb-info-title">
                                    <span class="thumb-info-inner text-2">Patriotismo</span>
                                </span>
                            </span>
                        </span>
                    </div>
                </div>
  
            </div>
        </div>
    </section>