<script src="js/main.js"></script>

<section class="section border-0 video overlay overlay-show overlay-op-8 m-0" data-video-path="video/reposteria.mp4" data-plugin-video-background data-plugin-options="{'posterType': 'jpg', 'position': '50% 50%'}" style="height: 100vh;">
	<div class="container position-relative z-index-3 h-100">
		<div class="row align-items-center h-100">
			<div class="col">
				<div class="d-flex flex-column align-items-center justify-content-center h-100">
					<h1 class="position-relative text-color-light text-5 line-height-5 font-weight-medium px-4 mb-2 appear-animation" data-appear-animation="fadeInDownShorterPlus" data-plugin-options="{'minWindowWidth': 0}">
						<span class="position-absolute right-100pct top-50pct transform3dy-n50 opacity-3">
							<img src="img/slides/slide-title-border-light.png" class="w-auto appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="250" data-plugin-options="{'minWindowWidth': 0}" alt="" />
						</span>
						DE NUESTRO HORNO A TU <span class="position-relative">MESA</span>
						<span class="position-absolute left-100pct top-50pct transform3dy-n50 opacity-3">
							<img src="img/slides/slide-title-border-light.png" class="w-auto appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="250" data-plugin-options="{'minWindowWidth': 0}" alt="" />
						</span>
					</h1>
					<h1 class="text-color-light font-weight-extra-bold text-12 line-height-1 mb-2 appear-animation" data-appear-animation="blurIn" data-appear-animation-delay="1000" data-plugin-options="{'minWindowWidth': 0}">PARA SACIAR TU CORAZÓN</h1>
					<p class="text-4 text-color-light font-weight-light opacity-7 mb-0" data-plugin-animated-letters data-plugin-options="{'startDelay': 2000, 'minWindowWidth': 0}">Pastelería y Panadería</p>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="section section-parallax section-height-3 border-0 m-0" data-plugin-parallax data-plugin-options="{'speed': 1, 'parallaxHeight': '150%', 'offset': 100}" data-image-src="img/cups.png">
	<div class="container pb-5 mb-5">
		<div class="row text-center pb-5 mb-5">
			<div class="col-md-10 mx-md-auto pb-5 mb-5">
				<h1 class="word-rotator slide font-weight-bold text-8 mb-3 appear-animation" data-appear-animation="fadeInUpShorter">
					<span>Nuestra receta es </span>
					<span class="word-rotator-words color-trigo">
						<b class="is-visible">increíblemente</b>
						<b>especialmente</b>
					</span>
					<span> deliciosa.</span>
				</h1>
				<p class="lead appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="300">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce elementum, nulla vel pellentesque consequat, ante nulla hendrerit arcu, ac tincidunt mauris lacus sed leo.
				</p>
			</div>
		</div>
	</div>
</section>

<section class="section bg-color-grey-scale-1 section-height-3 border-0 m-0">
	<div class="container">
		<div class="row">
			<div class="col">
				<h2 class="font-weight-normal text-center text-6 pb-3">Nuestros <strong class="font-weight-extra-bold">Servicios</strong></h2>
			</div>
		</div>
		<div class="row mb-lg-4">
			<div class="col-lg-4 appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="300">
				<div class="feature-box feature-box-style-2">
					<div class="feature-box-icon">
						<i class="icons icon-support text-color-primary"></i>
					</div>
					<div class="feature-box-info">
						<h4 class="font-weight-bold mb-2">Customer Support</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing <span class="alternative-font">metus.</span> elit. Quisque rutrum pellentesque imperdiet.</p>
					</div>
				</div>
			</div>
			<div class="col-lg-4 appear-animation" data-appear-animation="fadeInUpShorter">
				<div class="feature-box feature-box-style-2">
					<div class="feature-box-icon">
						<i class="icons icon-layers text-color-primary"></i>
					</div>
					<div class="feature-box-info">
						<h4 class="font-weight-bold mb-2">Sliders</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque rutrum pellentesque imperdiet. Nulla lacinia iaculis nulla.</p>
					</div>
				</div>
			</div>
			<div class="col-lg-4 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="300">
				<div class="feature-box feature-box-style-2">
					<div class="feature-box-icon">
						<i class="icons icon-menu text-color-primary"></i>
					</div>
					<div class="feature-box-info">
						<h4 class="font-weight-bold mb-2">Buttons</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque rutrum pellentesque imperdiet. Nulla lacinia iaculis nulla.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<div class="container">
	<div class="row counters counters-sm py-4 mt-5">
		<div class="col-sm-6 col-lg-3 mb-5 mb-lg-0">
			<div class="counter">
				<svg xmlns="http://www.w3.org/2000/svg" width="10%" viewBox="0 0 448 512"><path d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z"/></svg>
				<strong class="text-color-dark font-weight-extra-bold" data-to="5000" data-append="+">0</strong>
				<label class="text-4 mt-1">Clientes Satisfechos</label>
			</div>
		</div>
		<div class="col-sm-6 col-lg-3 mb-5 mb-lg-0">
			<div class="counter">
				<svg xmlns="http://www.w3.org/2000/svg" width="10%" viewBox="0 0 576 512"><path d="M400 0H176c-26.5 0-48.1 21.8-47.1 48.2c.2 5.3 .4 10.6 .7 15.8H24C10.7 64 0 74.7 0 88c0 92.6 33.5 157 78.5 200.7c44.3 43.1 98.3 64.8 138.1 75.8c23.4 6.5 39.4 26 39.4 45.6c0 20.9-17 37.9-37.9 37.9H192c-17.7 0-32 14.3-32 32s14.3 32 32 32H384c17.7 0 32-14.3 32-32s-14.3-32-32-32H357.9C337 448 320 431 320 410.1c0-19.6 15.9-39.2 39.4-45.6c39.9-11 93.9-32.7 138.2-75.8C542.5 245 576 180.6 576 88c0-13.3-10.7-24-24-24H446.4c.3-5.2 .5-10.4 .7-15.8C448.1 21.8 426.5 0 400 0zM48.9 112h84.4c9.1 90.1 29.2 150.3 51.9 190.6c-24.9-11-50.8-26.5-73.2-48.3c-32-31.1-58-76-63-142.3zM464.1 254.3c-22.4 21.8-48.3 37.3-73.2 48.3c22.7-40.3 42.8-100.5 51.9-190.6h84.4c-5.1 66.3-31.1 111.2-63 142.3z"/></svg>
				<strong class="text-color-dark font-weight-extra-bold" data-to="14">0</strong>
				<label class="text-4 mt-1">Años en el Negocio</label>
			</div>
		</div>
		<div class="col-sm-6 col-lg-3 mb-5 mb-sm-0">
			<div class="counter">
				<svg xmlns="http://www.w3.org/2000/svg" width="10%" viewBox="0 0 640 512"><path d="M48 0C21.5 0 0 21.5 0 48V368c0 26.5 21.5 48 48 48H64c0 53 43 96 96 96s96-43 96-96H384c0 53 43 96 96 96s96-43 96-96h32c17.7 0 32-14.3 32-32s-14.3-32-32-32V288 256 237.3c0-17-6.7-33.3-18.7-45.3L512 114.7c-12-12-28.3-18.7-45.3-18.7H416V48c0-26.5-21.5-48-48-48H48zM416 160h50.7L544 237.3V256H416V160zM112 416a48 48 0 1 1 96 0 48 48 0 1 1 -96 0zm368-48a48 48 0 1 1 0 96 48 48 0 1 1 0-96z"/></svg>
				<strong class="text-color-dark font-weight-extra-bold" data-to="1000" data-append="+">0</strong>
				<label class="text-4 mt-1">Entregas</label>
			</div>
		</div>
		<div class="col-sm-6 col-lg-3">
			<div class="counter">
				<svg xmlns="http://www.w3.org/2000/svg" width="10%" viewBox="0 0 448 512"><path d="M86.4 5.5L61.8 47.6C58 54.1 56 61.6 56 69.2V72c0 22.1 17.9 40 40 40s40-17.9 40-40V69.2c0-7.6-2-15-5.8-21.6L105.6 5.5C103.6 2.1 100 0 96 0s-7.6 2.1-9.6 5.5zm128 0L189.8 47.6c-3.8 6.5-5.8 14-5.8 21.6V72c0 22.1 17.9 40 40 40s40-17.9 40-40V69.2c0-7.6-2-15-5.8-21.6L233.6 5.5C231.6 2.1 228 0 224 0s-7.6 2.1-9.6 5.5zM317.8 47.6c-3.8 6.5-5.8 14-5.8 21.6V72c0 22.1 17.9 40 40 40s40-17.9 40-40V69.2c0-7.6-2-15-5.8-21.6L361.6 5.5C359.6 2.1 356 0 352 0s-7.6 2.1-9.6 5.5L317.8 47.6zM128 176c0-17.7-14.3-32-32-32s-32 14.3-32 32v48c-35.3 0-64 28.7-64 64v71c8.3 5.2 18.1 9 28.8 9c13.5 0 27.2-6.1 38.4-13.4c5.4-3.5 9.9-7.1 13-9.7c1.5-1.3 2.7-2.4 3.5-3.1c.4-.4 .7-.6 .8-.8l.1-.1 0 0 0 0s0 0 0 0s0 0 0 0c3.1-3.2 7.4-4.9 11.9-4.8s8.6 2.1 11.6 5.4l0 0 0 0 .1 .1c.1 .1 .4 .4 .7 .7c.7 .7 1.7 1.7 3.1 3c2.8 2.6 6.8 6.1 11.8 9.5c10.2 7.1 23 13.1 36.3 13.1s26.1-6 36.3-13.1c5-3.5 9-6.9 11.8-9.5c1.4-1.3 2.4-2.3 3.1-3c.3-.3 .6-.6 .7-.7l.1-.1c3-3.5 7.4-5.4 12-5.4s9 2 12 5.4l.1 .1c.1 .1 .4 .4 .7 .7c.7 .7 1.7 1.7 3.1 3c2.8 2.6 6.8 6.1 11.8 9.5c10.2 7.1 23 13.1 36.3 13.1s26.1-6 36.3-13.1c5-3.5 9-6.9 11.8-9.5c1.4-1.3 2.4-2.3 3.1-3c.3-.3 .6-.6 .7-.7l.1-.1c2.9-3.4 7.1-5.3 11.6-5.4s8.7 1.6 11.9 4.8l0 0 0 0 0 0 .1 .1c.2 .2 .4 .4 .8 .8c.8 .7 1.9 1.8 3.5 3.1c3.1 2.6 7.5 6.2 13 9.7c11.2 7.3 24.9 13.4 38.4 13.4c10.7 0 20.5-3.9 28.8-9V288c0-35.3-28.7-64-64-64V176c0-17.7-14.3-32-32-32s-32 14.3-32 32v48H256V176c0-17.7-14.3-32-32-32s-32 14.3-32 32v48H128V176zM448 394.6c-8.5 3.3-18.2 5.4-28.8 5.4c-22.5 0-42.4-9.9-55.8-18.6c-4.1-2.7-7.8-5.4-10.9-7.8c-2.8 2.4-6.1 5-9.8 7.5C329.8 390 310.6 400 288 400s-41.8-10-54.6-18.9c-3.5-2.4-6.7-4.9-9.4-7.2c-2.7 2.3-5.9 4.7-9.4 7.2C201.8 390 182.6 400 160 400s-41.8-10-54.6-18.9c-3.7-2.6-7-5.2-9.8-7.5c-3.1 2.4-6.8 5.1-10.9 7.8C71.2 390.1 51.3 400 28.8 400c-10.6 0-20.3-2.2-28.8-5.4V480c0 17.7 14.3 32 32 32H416c17.7 0 32-14.3 32-32V394.6z"/></svg>
				<strong class="text-color-dark font-weight-extra-bold" data-to="5000" data-append="+">0</strong>
				<label class="text-4 mt-1">Pasteles</label>
			</div>
		</div>
	</div>
</div>

<section class="section bg-color-light border-0 pb-0 m-0">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center appear-animation" data-appear-animation="fadeInUpShorter">
				<h2 class="font-weight-normal text-6 pb-2 mb-4"><strong class="font-weight-extra-bold">Pedidos</strong> &amp; <strong class="font-weight-extra-bold">Clientes</strong></h2>
			</div>
		</div>
	</div>
	<div class="image-gallery sort-destination full-width mb-0">
		<div class="isotope-item">
			<div class="image-gallery-item mb-0 appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="700">
				<span class="thumb-info thumb-info-centered-info thumb-info-no-borders">
					<span class="thumb-info-wrapper">
						<img src="img/3.webp" class="img-fluid" alt="">
					</span>
				</span>
			</div>
		</div>
		<div class="isotope-item">
			<div class="image-gallery-item mb-0 appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="500">
				<span class="thumb-info thumb-info-centered-info thumb-info-no-borders">
					<span class="thumb-info-wrapper">
						<img src="img/3.webp" class="img-fluid" alt="">
					</span>
				</span>
			</div>
		</div>
		<div class="isotope-item">
			<div class="image-gallery-item mb-0 appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="300">
				<span class="thumb-info thumb-info-centered-info thumb-info-no-borders">
					<span class="thumb-info-wrapper">
						<img src="img/3.webp" class="img-fluid" alt="">
					</span>
				</span>
			</div>
		</div>
		<div class="isotope-item">
			<div class="image-gallery-item mb-0 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="500">
				<span class="thumb-info thumb-info-centered-info thumb-info-no-borders">
					<span class="thumb-info-wrapper">
						<img src="img/3.webp" class="img-fluid" alt="">
					</span>
				</span>
			</div>
		</div>
		<div class="isotope-item">
			<div class="image-gallery-item mb-0 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="700">
				<span class="thumb-info thumb-info-centered-info thumb-info-no-borders">
					<span class="thumb-info-wrapper">
						<img src="img/3.webp" class="img-fluid" alt="">
					</span>
				</span>
			</div>
		</div>
	</div>
</section>

<section class="parallax section section-text-light section-parallax section-center mt-0 mb-0" data-plugin-parallax data-plugin-options="{'speed': 0.5}" data-image-src="img/cupcakes.png">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-10">
				<div class="owl-carousel owl-theme nav-bottom rounded-nav" data-plugin-options="{'items': 1, 'loop': false}">
					<div>
						<div class="testimonial testimonial-style-2 testimonial-with-quotes mb-0">
							<div class="testimonial-author">
								<img src="img/clients/client-1.jpg" class="img-fluid rounded-circle" alt="">
							</div>
							<blockquote>
								<p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget risus porta, tincidunt turpis at, interdum tortor. Suspendisse potenti. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Fusce ante tellus, convallis non consectetur sed, pharetra nec ex.</p>
							</blockquote>
							<div class="testimonial-author">
								<p><strong class="font-weight-extra-bold">John Smith</strong></p>
							</div>
						</div>
					</div>
					<div>
						<div class="testimonial testimonial-style-2 testimonial-with-quotes mb-0">
							<div class="testimonial-author">
								<img src="img/clients/client-1.jpg" class="img-fluid rounded-circle" alt="">
							</div>
							<blockquote>
								<p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget risus porta, tincidunt turpis at, interdum tortor. Suspendisse potenti. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Fusce ante tellus, convallis non consectetur sed, pharetra nec ex.</p>
							</blockquote>
							<div class="testimonial-author">
								<p><strong class="font-weight-extra-bold">John Smith</strong></p>
							</div>
						</div>
					</div>
					<div>
						<div class="testimonial testimonial-style-2 testimonial-with-quotes mb-0">
							<div class="testimonial-author">
								<img src="img/clients/client-1.jpg" class="img-fluid rounded-circle" alt="">
							</div>
							<blockquote>
								<p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget risus porta, tincidunt turpis at, interdum tortor. Suspendisse potenti. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
							</blockquote>
							<div class="testimonial-author">
								<p><strong class="font-weight-extra-bold">John Smith</strong></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<style>
	.color-trigo {
		background-color: #c9ac90 !important;
	}
</style>