    <!-- Header About -->
	<section class="section section-concept section-no-border section-dark section-angled section-angled-reverse p-relative z-index-2 pt-5 m-0" style="background-image: url(img/image-ienpop/nosotros2.jpg); background-size: cover; background-position: center; animation-duration: 750ms; animation-delay: 300ms; animation-fill-mode: forwards; min-height: 645px;">
		<div class="section-angled-layer-bottom section-angled-layer-increase-angle" style="padding: 8rem 0; background: #ffffff;"></div>
		<div class="container pt-lg-5 mt-5">
			<div class="row pt-3 pb-lg-0 pb-xl-0">
				<div class="col-lg-6 pt-4 mb-5 mb-lg-0">
					<h1 class="font-weight-bold text-10 text-xl-12 line-height-2 mb-3">Impulsamos el desarrollo del personal de la Marina Mercante</h1>
				</div>
			</div>
		</div>
	</section>

	<!-- Quiénes somos-->
	<section id="support" class="section section-angled bg-light border-0 m-0 position-relative pt-0">
		<div class="container pb-5 mb-5">
			<div class="row align-items-center mb-5">
				<div class="col-lg-6 pe-xl-5 mb-5 mb-lg-0">
					<h2 class="font-weight-bold text-12 mb-1">¿Quiénes Somos?</h2>
					<br>
					<p class="font-text text-justify mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus blandit massa enim. Nullam id varius nunc. Vivamus bibendum magna ex, et faucibus lacus venenatis eget.</p>
					<div class="d-flex align-items-center border border-top-0 border-end-0 border-start-0 pb-4 mb-4">
						<i class="fa fa-check text-color-primary bg-light rounded-circle box-shadow-4 p-2 me-3"></i>
						<p class="font-text mb-0"><b class="font-text text-color-dark">Nuestra Misión -</b> Contains all descriptions related to Porto usage and features.</p>
					</div>
					<div class="d-flex align-items-center pb-4 mb-4">
						<i class="fa fa-check text-color-primary bg-light rounded-circle box-shadow-4 p-2 me-3"></i>
						<p class="font-text mb-0"><b class="font-text text-color-dark">Nuestra Visión -</b> Contact us if you get any issue while using Porto, reply within 16 hrs.</p>
					</div>
				</div>
				<div class="col-lg-4 offset-lg-2 position-relative">
					<div class="appear-animation animated fadeIn appear-animation-visible" data-appear-animation="fadeIn" data-appear-animation-delay="500" style="animation-delay: 500ms;">
						<img class="ls-is-cached lazyloaded" src="img/image-ienpop/ancla.png" data-src="img/image-ienpop/ancla.png" alt="" style="position: absolute; top: 25px; right: 50%;">
					</div>
					<img alt="Porto Support" src="img/image-ienpop/nosotros1.jpg" data-src="img/image-ienpop/nosotros1.jpg" class="img-fluid border border-width-10 border-color-light rounded box-shadow-3 ms-5 appear-animation ls-is-cached lazyloaded animated fadeInUp appear-animation-visible" data-appear-animation="fadeInUp" data-appear-animation-delay="200" style="width: 590px; max-width: none; animation-delay: 200ms;">
				</div>
			</div>
		</div>
		<div class="section-angled-layer-bottom section-angled-layer-increase-angle" style="padding: 4rem 0; background: #222529;"></div>
	</section>

	<!-- Equipo -->
	<section class="section bg-dark section-dark border-0 m-0">
		<div class="container">
			<div class="text-center mb-5">
				<h2 class="font-weight-bold text-12 mb-2 appear-animation animated fadeInUpShorter appear-animation-visible" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="600" data-appear-animation-duration="750" style="animation-delay: 600ms;">Conoce al Equipo</h2>
			</div>
			<div class="container appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="300">
				<div class="row pt-5 pb-4 my-5">
					<div class="col-md-6 order-2 order-md-1 text-center text-md-start">
						<div class="owl-carousel owl-theme nav-style-1 nav-center-images-only stage-margin mb-0" data-plugin-options="{'responsive': {'576': {'items': 1}, '768': {'items': 1}, '992': {'items': 2}, '1200': {'items': 2}}, 'margin': 25, 'loop': false, 'nav': true, 'dots': false, 'stagePadding': 40}">
							<div>
								<img class="img-fluid rounded-0 mb-4" src="img/team/team-1.jpg" alt="" />
								<h3 class="font-text text-center font-weight-bold text-4 mb-0">John Doe</h3>
								<p class="font-text text-center text-1 mb-0">Teniente</p>
							</div>
							<div>
								<img class="img-fluid rounded-0 mb-4" src="img/team/team-2.jpg" alt="" />
								<h3 class="font-text text-center font-weight-bold text-4 mb-0">Jessica Doe</h3>
								<p class="font-text text-center text-1 mb-0">Administrativo</p>
							</div>
							<div>
								<img class="img-fluid rounded-0 mb-4" src="img/team/team-3.jpg" alt="" />
								<h3 class="font-text text-center font-weight-bold text-4 mb-0">Chris Doe</h3>
								<p class="font-text text-center text-1 mb-0">Sargento</p>
							</div>
							<div>
								<img class="img-fluid rounded-0 mb-4" src="img/team/team-4.jpg" alt="" />
								<h3 class="font-text text-center font-weight-bold text-4 mb-0">Julie Doe</h3>
								<p class="font-text text-center text-1 mb-0">Analista</p>
							</div>
							<div>
								<img class="img-fluid rounded-0 mb-4" src="img/team/team-5.jpg" alt="" />
								<h3 class="font-text text-center font-weight-bold text-4 mb-0">Robert Doe</h3>
								<p class="font-text text-center text-1 mb-0">Entrenador</p>
							</div>
						</div>
					</div>
					<div class="col-md-6 order-1 order-md-2 text-center text-md-start mb-5 mb-md-0">
						<h2 class="font-text font-weight-bold text-8 mb-2 pb-1">IENPOP</h2>
						<p class="font-text text-justify mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus blandit massa enim. Nullam id varius nunc. Vivamus bibendum magna ex, et faucibus lacus venenatis eget.</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- Testimonios -->
	<section class="section  section-height-3 border-0 m-0">
		<div class="container pb-2">
			<div class="row">
				<div class="col-lg-6 text-center text-md-start mb-5 mb-lg-0">
					<h2 class="font-weight-bold text-12 mb-1">Nuestros Clientes</h2>
					<br>
					<p class="font-text text-justify lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit massa enim. Nullam id varius nunc.</p>
					<div class="row justify-content-center my-5">
						<div class="col-8 text-center col-md-4">
							<img src="img/image-ienpop/olas.png" class="img-fluid hover-effect-2" alt="" />
						</div>
						<div class="col-8 text-center col-md-4 my-3 my-md-0">
							<img src="img/image-ienpop/olas.png" class="img-fluid hover-effect-2" alt="" />
						</div>
						<div class="col-8 text-center col-md-4">
							<img src="img/image-ienpop/olas.png" class="img-fluid hover-effect-2" alt="" />
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="owl-carousel owl-theme nav-style-1 stage-margin" data-plugin-options="{'responsive': {'576': {'items': 1}, '768': {'items': 1}, '992': {'items': 1}, '1200': {'items': 1}}, 'loop': true, 'nav': false, 'dots': false, 'stagePadding': 40, 'autoplay': true, 'autoplayTimeout': 6000, 'loop': true}">
						<div>
							<div class="testimonial testimonial-style-2 testimonial-with-quotes testimonial-quotes-dark testimonial-remove-right-quote ps-md-4 mb-0">
								<div class="testimonial-author">
									<img src="img/clients/client-1.jpg" class="img-fluid rounded-circle mb-0" alt="">
								</div>
								<blockquote>
									<p class="font-text lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vitae metus tellus. Curabitur non lorem at odio tempus consectetur vel eu lacus. Morbi.</p>
								</blockquote>
								<div class="testimonial-author">
									<p><strong class="font-text-navbar font-weight-extra-bold text-2">John Smith</strong><span class="font-text-navbar">Okler</span></p>
								</div>
							</div>
						</div>
						<div>
							<div class="testimonial testimonial-style-2 testimonial-with-quotes testimonial-quotes-dark testimonial-remove-right-quote ps-md-4 mb-0">
								<div class="testimonial-author lead">
									<img src="img/clients/client-1.jpg" class="img-fluid rounded-circle mb-0" alt="">
								</div>
								<blockquote>
									<p class="font-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vitae metus tellus. Curabitur non lorem at odio tempus consectetur vel eu lacus. Morbi.</p>
								</blockquote>
								<div class="testimonial-author">
									<p><strong class="font-text-navbar font-weight-extra-bold text-2">John Smith</strong><span class="font-text-navbar">Okler</span></p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>